<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <sections>
    <section name="carConfiguration" handler="CarManage.Configuration.CarManageConfig,CarManage.Configuration"/>
  </sections>
  <configurations>
    <carConfiguration>
      <!--个人版数据库连接字符串名称-->
      <add key="ConnectionStringName" value="CarConnectionString"/>
      
      <!--数据访问提供程序-->
      <add key="DataAccessProvider" value="CarManage.DataAccess"/>
      
      <!--异常处理策略-->
      <add key="ExceptionPolicy" value="Assistant Policy"/>

      <!--日志提供程序-->
      <add key="LoggingProvider" value="ClassLibrary.Logging.Log4NetHandler,ClassLibrary"/>

      <!--日志策略-->
      <add key="LoggingPolicy" value="CarManage"/>

      <!--应用程序版本-->
      <add key="Edition" value="Personal"/>

      <!--系统语言-->
      <add key="Language" value="zh-CN"/>
      
      <!--页面大小-->
      <add key="PageSize" value="30"/>
      
      <!--图片存放路径-->
      <add key="ImagePath" value="E:\CarManageImage\"/>
      
      <!--是否启用缓存-->
      <add key="EnableCache" value="True"/>
      
      <!--是否启用权限-->
      <add key="EnablePermission" value="True"/>
  
    </carConfiguration>
  </configurations>
</configuration>