<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MySqlConnectionString" connectionString="server=55ae29342ce85.gz.cdb.myqcloud.com;port=13451;database=CarManage;uid=root;pwd=Zh100083;charset='utf8'" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>